.menu__container {
	position: relative;
	display: flex;
	width: fit-content;
	height: fit-content;
	flex-direction: column;
}

.icon__container {
	display: flex;
	cursor: pointer;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	margin-left: 10px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.icon__container:hover {
	background-color: lightgrey;
}

.menu-list__container--left {
	position: absolute;
	background-color: white;
	box-shadow: 0px 0px 10px 1px rgb(41, 40, 40);
	min-width: 200px;
	top: 48px;
	right: 15px;
	border-radius: 5px;
	overflow: hidden;
}

.menu-list__container--right {
	position: absolute;
	background-color: white;
	box-shadow: 0px 0px 10px 1px rgb(41, 40, 40);
	min-width: 200px;
	top: 48px;
	left: 5px;
	border-radius: 5px;
	overflow: hidden;
}
